{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col items-center font-medium">
        {{ component('LogoBig') }}
        <h2>Site en construction</h2>
    </div>
{% endblock %}
