{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-red-200">
        This div is styled with tailwind!
    </div>

    <div class="hello">
        Hi <span>John</span>!
    </div>
{% endblock %}
