.git
.idea
_sql/user.sql
.php-cs-fixer.php
.php-cs-fixer.cache
phpstan.neon
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/node_modules/
/public/assets/
/public/bundles/
/public/media/cache/
/assets/vendor/
/src/controller/TestController.php
ssl
/tmp/phpstan/
/var/
/vendor/
