{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <div class="flex flex-col justify-start items-center w-11/12 sm:w-4/5 lg:w-2/3 mx-auto mt-20">
        <h4 class="mb-3">Email envoyé !</h4>
        <div class="w-full max-w-lg my-5">
            <p>
                Si un compte correspondant à votre adresse email existe, un email vient de vous être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <br>
            <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier de courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
        </div>

    </div>
{% endblock %}
