{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Réinitialisation de mot de passe{% endblock %}

{% block body %}

    <div class="flex flex-col justify-start items-center w-11/12 sm:w-4/5 lg:w-2/3 mx-auto mt-20">

        <h4 class="mb-3">Réinitialiser votre mot de passe</h4>

        {{ component('ResetPasswordRequestForm', {
            form: requestForm
        }) }}
    </div>

{% endblock %}
