<div class="flex justify-center xl:flex-col xl:gap-3 mt-5 xl:mt-0">
    <div class="flex items-center gap-2">
        <p class="font-semibold">Durée :</p>
        <p>
            {{ this.totalTime }}
        </p>
    </div>
    <twig:ux:icon name="lucide:dot" class="xl:hidden w-5 h-5 mx-1 text-primary-600" />
    <div class="flex items-center gap-2">
        <p class="font-semibold">Difficulté :</p>
        <p class="flex">
            {% for i in 1..difficultyId %}
                <twig:ux:icon name="material-symbols:bolt-outline" class="w-3 h-3 sm:h-4 sm:h-4 md:w-5 md:h-5 text-primary-600" />
            {% endfor %}
        </p>
    </div>
    <twig:ux:icon name="lucide:dot" class="xl:hidden w-5 h-5 mx-1 text-primary-600" />
    <div class="flex items-center gap-2">
        <p class="font-semibold">Coût :</p>
        <p class="flex">
            {% for i in 1..costId %}
                <twig:ux:icon name="lucide:coins" class="w-3 h-3 sm:h-4 sm:h-4 md:w-5 md:h-5 text-primary-600" />            {% endfor %}
        </p>
    </div>
</div>
