.sap-header {
    @apply relative bg-white;
    box-shadow: 0 4px 2px -2px #e5e5e5;
    z-index: 10;

    .sap-header-nav {
        @apply relative bg-white flex justify-between items-center w-11/12 sm:w-4/5 lg:w-2/3 mx-auto h-[70px] sm:h-[80px] md:h-[88px] lg:h-[98px] xl:h-[108px];
        z-index: 20;

        .header-nav-button {
            .header-nav-button-icon {
                @apply text-primary-600 hover:text-primary-700 transition mx-2 w-5 h-5 md:w-6 md:h-6;
            }
        }

        .logo-header {
            @apply w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40;
        }

        .header-nav-right-block {
            @apply flex gap-2;
        }
    }

    .sap-header-nav-search-bar-hidden {
        @apply absolute bottom-1 w-full h-[50px] w-11/12 sm:w-4/5 lg:w-2/3 max-w-3xl mx-auto left-0 right-0;
        z-index: 5;
        transition: 0.3s;

        .sap-header-nav-search-bar-container {
            @apply relative;

            .sap-header-nav-search-bar-input {
                @apply relative block w-full h-[51px] ps-3.5 p-2.5 rounded-full font-satoshi-regular font-normal;
            }

            .sap-header-nav-search-bar-button {
                @apply absolute inset-y-0 end-0 flex items-center justify-center w-[90px] h-[49px] mt-[1px] me-[1px] bg-gray-100 border-l rounded-r-full transition;

                .sap-header-nav-search-bar-button-icon {
                    @apply w-6 h-6 text-gray-500;
                }
            }
        }
    }

    .sap-header-nav-user-menu-hidden {
        @apply absolute right-0 top-[60px] mt-2 w-48 md:w-52 lg:w-56 bg-white shadow-lg ring-1 ring-black/5 focus:outline-none;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        transition: 0.3s;
    }

    .sap-header-nav-recipe-menu-hidden {
        @apply absolute left-0 top-[60px] mt-2 w-48 md:w-52 lg:w-56 bg-white shadow-lg ring-1 ring-black/5 focus:outline-none;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        transition: 0.3s;
    }
}

.sap-header-nav-search-bar-collapse {
    bottom: -60px !important;
    transition: 0.3s;
}

.sap-header-nav-user-menu-collapse {
    opacity: 1 !important;
    visibility: visible !important;
    transition: 0.3s;
}

.sap-header-nav-recipe-menu-collapse {
    opacity: 1 !important;
    visibility: visible !important;
    transition: 0.3s;
}
