<li>
    <a class="sonata-action-element js_ingredient_import_action" href="#">
        <i class="fas fa-level-up-alt"></i> {{ 'button.ingredient_import'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>
