/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* Animation d'entrée */
}

.fade-out {
    animation: fadeOut 0.5s forwards; /* Animation de sortie */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
