<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Salt & Pepper -{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Salt & Pepper">
        <link rel="icon" href="{{ absolute_url('favicon.png') }}">


        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# Toast #}
        <div class="fixed bottom-4 right-4 flex flex-col space-y-4 max-w-[500px]">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {{ component('Alert', {type: label, message: message}) }}
                {% endfor %}
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
