<a class="absolute left-1/2 transform -translate-x-1/2" href="{{ path('app_home') }}">
    <img
            class="logo-header"
            src="{{ asset('images/logos/salt_and_pepper_logo.png') }}"
            alt="logo salt and pepper"
    />
</a>