<div class="sap-header-nav-search-bar-hidden js_header_search_bar" role="search" aria-expanded="false">
    <form method="POST" action="#">
        <div class="sap-header-nav-search-bar-container">
            <label for="search_recipe"></label>
            <input type="text" name="search_recipe" id="search_recipe" class="sap-header-nav-search-bar-input">
            <button class="sap-header-nav-search-bar-button" aria-label="Search">
                <twig:ux:icon name="lucide:search" class="sap-header-nav-search-bar-button-icon" />
            </button>
        </div>
    </form>
</div>
