<div class="flex items-center gap-5 my-5 w-full">
    <div class="flex-auto border-b-2 border-primary-300"></div>
    <h5 class="font-semibold">
        {{ title }}
    </h5>
    <div class="flex-auto border-b-2 border-primary-300"></div>
</div>