<div class="
    min-w-[300px] max-w-[500px] p-4 rounded-lg text-white font-medium text-sm shadow-lg fade-in
    {{ type == 'success' ? 'bg-green-500 border-2 border-green-700' : '' }}
    {{ type == 'danger' ? 'bg-red-500 border-2 border-red-700' : '' }}
" role="alert">
    <div class="flex items-center">
        <twig:ux:icon name="{{ this.getIcon() }}" class="mr-2 h-5 w-5" />
        <span>{{ message }}</span>
    </div>
</div>