<footer class="sap-footer">
    <div class="sap-footer-content">
        <p class="sap-footer-text">
            Épicez votre quotidien avec Salt and Pepper : des recettes qui
            réveillent les papilles et enchantent les assiettes !
        </p>
        <p class="sap-footer-text">-------</p>
        <p class="sap-footer-text">
            Ce site a été conçu et développé avec gourmandise par vdub-dev.
        </p>
    </div>
</footer>
