<footer class="sap-footer">
    <div class="sap-footer-content">
        <img class="w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40" src="{{ asset('images/logos/salt_and_pepper_logo_light.png')}}" alt="salt and pepper logo" />
        <p class="sap-footer-text text-gray-50">
            Ce site a été conçu et développé avec gourmandise par vdub-dev.
        </p>
        <p class="sap-footer-text flex items-center text-gray-50">
            <a class="text-gray-50 hover:text-gray-50 text-xs font-normal" href="{{ path('app_legal_cgu') }}">CGU</a><span><twig:ux:icon name="lucide:dot" class="w-5 h-5 mx-1 text-gray-50" /></span><a class="text-gray-50 hover:text-gray-50 text-xs font-normal" href="{{ path('app_legal_rgpd') }}">Politique de Protection des Données Personnelles</a>
        </p>
    </div>
</footer>
