<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Salt & Pepper -{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Salt & Pepper">
    <link rel="icon" href="{{ absolute_url('favicon.png') }}">


    {% block javascripts %}
        {% block importmap %}{{ importmap('error') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
