{% extends 'base_email.html.twig' %}

{% block email_content %}

    <h4>Bonjour,</h4>

    <p>Les comptes suivants ont été supprimés aujourd'hui pour cause d'inactivité :</p>

    <ul>
        {% for user in users %}
            <li>{{ user.firstname }} {{ user.lastname }} - {{ user.email }}</li>
        {% endfor %}
    </ul>

    <p>Cordialement,</p>

    <h4>Salt & Pepper</h4>

{% endblock %}

{% block email_footer %}
    <p>Cet email a été envoyé automatiquement. Merci de ne pas y répondre.</p>
    {{ parent() }}
{% endblock %}